.footer_area {
  padding: 120px 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: -200px;
    left: 0;
    right: 0;
    bottom: 0;
    background: $light-grey;
    z-index: -1;
  }
  @media screen and (max-width: 1024px) {
    padding: 60px 0;
  }

  .footer_logo {
    text-align: center;
    img {
      width: 100px;
    }
    h4 {
      font-size: 20px;
      color: $black;
      margin-top: 35px;
      text-transform: uppercase;
    }
  }

  .footer_social {
    text-align: center;
    margin: 25px 0px 30px;
    a {
      padding: 0 20px;
      svg {
        color: $grey;
        font-size: 22px;
        height: 25px;
        @include transition();
        @media screen and (max-width: 576px) {
          font-size: 25px;
        }
        &:hover {
          color: $primary-color2;
        }
      }
    }
  }
  .footer_bottom {
    text-align: center;
    a {
      color: $primary-color2;
    }
  }
}
