/* Start Brand Area css
============================================================================================ */
.brand_area {
  padding-bottom: 170px;

  @media (max-width: 1199px) {
    padding-bottom: 80px;
  }
}

.single-brand-item {
  // width: 170px;
  height: 100px;
  cursor: pointer;
  // margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: none;
  @include transition();
  @media only screen and (max-width: 767px) {
    height: 100px;
    width: 140px;
  }
  @media (max-width: 575px) {
    margin: 0px auto;
    margin-bottom: 30px;
  }
  .d-table-cell {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
  }
  img {
    max-width: 80%;
    margin: 0 auto;
    @include transition();
    @media only screen and (max-width: 767px) {
      max-width: 100px;
    }
  }
  &:hover {
    border: 1px solid transparent;
    box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15);
    img {
      @include filter(brightness(0%));
    }
  }
}
.client-info {
  padding: 25px 30px;
  background: #faf8ff;
  text-align: center;
  position: relative;
  margin-top: 25px;
  @media only screen and (max-width: 991px) {
    margin-top: 50px;
  }
  @media (max-width: 575px) {
    padding-top: 50px;
  }
  &:before {
    content: "";
    position: absolute;
    top: -25px;
    left: -50px;
    background: url("/img/client-info-bg.png") no-repeat;
    height: 175px;
    width: 175px;
    @media (max-width: 575px) {
      background: none;
    }
  }
  .d-flex {
    display: flex;
    flex-direction: row;
    gap: 25px;
    @media (max-width: 575px) {
      -ms-flex-align: center;
      align-items: center;
    }
  }
  .lage {
    color: $primary-color2;
    font-family: $title-font;
    font-size: 100px;
    font-weight: 700;
    line-height: 85px;
    position: relative;
    z-index: 9;
  }
  .smll {
    text-align: left;
    color: $title-color;
    font-family: $title-font;
    font-size: 20px;
    margin-left: 20px;
  }
}
.call-now {
  padding-top: 50px;
  text-align: left;
  // margin-bottom: 40px;
  @media (max-width: 575px) {
    padding-top: 0px;
  }
  h3 {
    @media (max-width: 480px) {
      font-size: 17px;
    }
  }
  p {
    color: $primary-color2;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
  span {
    font-size: 60px;
    font-weight: 700;
    color: $title-color;
  }
}
