/* Start Newsletter Area css
============================================================================================ */
.newsletter_area {
  color: $white !important;
}

.subscription_box {
  background: url(/img/subscribe-bg.png) no-repeat center;
  padding: 150px 0px;

  @media (max-width: 767px) {
    padding: 50px 20px;
  }

  h2 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 30px;
    }
  }

  p {
    margin-bottom: 0;
  }

  .subscription {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 15px;
    .subscription-email {
      .MuiFormLabel-root,
      fieldset {
        color: $white !important;
      }

      .MuiInputBase-root {
        color: $white !important;
        border-radius: 5px;

        input {
          line-height: 48px !important;
          background: transparent !important;
          font-weight: 400;
          color: $white !important;
          border-color: -internal-light-dark($white, $white) !important;

          @include placeholder {
            color: $white !important;
            font-weight: 400;
          }
        }
      }
    }
  }

  .primary-btn {
    margin-left: 10px;
    background: $white !important;
    text-transform: uppercase;
    color: $dark-grey;
    border-radius: 5px;
    line-height: 55px;
    font-size: 14px !important;
    font-family: $title-font;
    padding: 0px 38px;
    cursor: pointer;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
  .subcribe-form {
    margin-top: 45px;
  }
}

.subscription .info {
  color: #fff;
  width: 100%;
  font-size: 12px;
  background: transparent;
}

.subscription .info.valid {
  color: green;
}

.subscription .info.error {
  color: red;
}

/* End Newsletter Area css
============================================================================================ */
